@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;600;700&display=swap');
$title: 'Teko', 'Arial', sans-serif;
$colorTextDark: #2e5075;
$colorTextLight: #e3e3e3;
$colorHover: #92a3bd;
$backgroundDark: #242424;
$backgroundLight: #f7f7f7;
$defaultBorderDark: 4px double $backgroundDark;
$defaultBorderLight: 4px double $backgroundLight;
%base {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
%fontSliders {
    position: relative;
    z-index: 98;
}
%defaultDark {
    @extend %base;
    background-color: $backgroundDark;
    color: $colorTextLight
}
%defaultLight{
    @extend %base;
    background-color: $backgroundLight;
    color: #000;
}
%container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {
        margin: 0px;
        font-family: $title;
        font-size: 45px;
        text-transform: uppercase;
    }
}
%defaultGrid {
    padding: 0px 20px;
    height: 100%;
    h1 {
        margin-bottom: -10px;
    }
    h2 {
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: 20px;
    }
    p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
    }
}
%defaultGridQuality {
    @extend %defaultGrid;
}
%defaultGridTechnique {
    @extend %defaultGrid;
    img {
        margin-top: 18px;
        border: $defaultBorderLight;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        height: 125px;
        &:hover {
            -webkit-transition: all .3s ease-in;
            -webkit-transform: scale(1.3);
        }

    }
}
%defaultGridDepositions {
    @extend %defaultGrid;
    q {
        font-style: italic;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
    }
    p {
        margin-top: 5px;
        font-size: 15px;
        text-align: end;
        font-weight: bold;
    }
}
%defaultGridProductsDark {
    @extend %defaultGrid;
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 20px;
        margin: 0px;
        margin-top: 40px;
    }
    figure {
        margin: 0px;
        img {
            margin-top: 5px;
            border: $defaultBorderDark;
            background-size: cover;
            background-position: bottom;
            overflow: hidden;
            height: 200px
        }
        figcaption {
            font-size: 15px;
        }
    }
}
%defaultGridProductsLight {
    @extend %defaultGridProductsDark;
    figure {
        img {
            border: $defaultBorderLight;
    
        }
    }
}
%defaultColorsArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    h3 {
        margin-top: 0px;
        font-style: italic;
    }
}
%defaulColorsDisplay{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
%defaultColors {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border: 2px solid $backgroundLight;
    border-radius: 20px;
}
%defaultColorConcrete {
    @extend %defaultColors;
    background-color: #929090;
}
%defaultColorYellow {
    @extend %defaultColors;
    background-color: #BF9649;
}
%defaultColorGreen {
    @extend %defaultColors;
    background-color: #688C5E;
}
%defaultColorRed {
    @extend %defaultColors;
    background-color: #A63737;
}
%defaultColorBlack {
    @extend %defaultColors;
    background-color: #262626;
}
%defaultGridProjectsDark {
    @extend %defaultGrid;
    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    figure {
        margin: 0px;
        img {
            margin-bottom: 15px;
            border: $defaultBorderDark;
            background-size: cover;
            background-position: bottom;
            overflow: hidden;
            height: 200px
        }
    }
}
%defaultGridProjectsLight {
    @extend %defaultGridProjectsDark;
    figure {
        img {
            border: $defaultBorderLight;
    
        }
    }
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    header {
        @extend %base;
        height: 60px;
        background-color: #000;
        .menu {
            width: 90%;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;            
            img {
                width: 55px;
                margin-left: 5px;
            }
            nav {
               .menuBar {
                   ul {
                       display: flex;
                       li {
                            list-style: none;
                            margin-right: 5px;
                            text-transform: uppercase;
                            font-family: $title;
                            font-size: 35px;
                            padding-left: 30px;
                            padding-right: 30px;
                            letter-spacing: 10px;
                            border-left: 1px groove $backgroundLight;
                            &:first-child{
                                border-left: none;
                            }
                            a {
                                color: $colorTextLight;   
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                    color: $colorHover;
                                }
                            }  
                            .active {
                                color: $colorHover;
                                font-weight: 600;
                            }  
                        }
                   }
               } 
               .menuMobile {
                    display: none;
                    flex-direction: column;
                    align-items: end;
                    .imgMobile {
                        position: absolute;
                        top: 5px;
                        img {
                            width: 50px;
                            padding-right: 0px;
                            padding-left: 5px;
                        } 
                        h1 {
                            color: $colorTextLight;
                            margin: 5px;
                            font-size: 35px;
                        } 
                    }
                    .linksMobile {
                       display: none;
                       position: absolute;
                       top: 60px;
                       left: 0px;
                       width: 100%;
                       background-color: rgba(0, 0, 0, 0.7);
                       ul {
                        text-align: center;
                           li {
                                list-style: none;
                                margin-right: 5px;
                                text-transform: uppercase;
                                font-family: $title;
                                font-size: 35px;
                                letter-spacing: 10px;
                                a {
                                    color: $colorTextLight;   
                                    text-decoration: none;
                                }  
                                .active {
                                    color: $colorHover;
                                    font-weight: 600;
                                } 
                           }
                       }
                    } 
                }
            }
        }
    }
    .banner {
        height: calc(100vh - 180px);
        background-color: #333;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
    }  
    .area {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        .sliders_op {
            height: 100%; 
            text-align: center;
            .slider_op--show {
                width: 100%;
                height: calc(100vh - 180px);
                position: absolute;
                overflow: hidden;
                .slider_op--controls {
                    background-color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    z-index: 98;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                    .slider_op--control {
                        color:  $colorTextLight;
                        font-size: 80px;
                        padding: 0px 20px;
                        overflow: hidden;
                        cursor: pointer;
                        &:hover {
                            color: $colorHover;
                            text-shadow: 0px 0px 4px #000;
                        }
                    }
                }
                .slider_op--width {
                    display: flex;
                    transition: all ease 0.2s;
                    .slider_op--item {
                        width: 100vw;
                        height: calc(100vh - 180px);
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: $backgroundLight;
                        text-shadow: 0px 1px 1px #222;
                        h1 {
                            @extend %fontSliders;
                            font-family: $title;
                            font-size: 45px;
                        }
                        h2 {
                            @extend %fontSliders;
                            font-size: 30px;
                            font-weight: normal;
                            margin-top: 0px;
                            margin-bottom: 10px;
                            padding-top: 0px;
                            padding-bottom: 0px;
                            span {
                                text-transform: uppercase;
                                font-weight: 600;
                            }
                            a {
                                color: $colorTextLight;
                                text-decoration: none;
                                &:hover{
                                    color: $colorHover;
                                    text-decoration: underline;
                                }
                            }
                        }
                        h3 {
                            @extend %fontSliders;
                            font-size: 23px;
                            font-weight: normal;
                            font-style: italic;
                            width: 80%;
                            letter-spacing: 2px;
                            line-height: 60px;
                            margin-left: 0px;
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }  
    .defaultDark {
        @extend %defaultDark;
        .container {
            @extend %container;
            .aboutUsArea {
                display: flex;    
                align-items: center;
                .aboutUsText {
                   padding-right: 20px;
                   width: 100%;
                    p {
                        font-size: 18px;
                        letter-spacing: 1px;
                        line-height: 40px;
                        text-align: justify;
                    }
                }
                .aboutUsImg {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .technique {
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "technique technique technique"
                "technique1 technique2 technique3"
            ;
            .gridTechnique {
                grid-area: technique;
                @extend %defaultGridTechnique;
                margin-bottom: 10px;
            }
            .gridTechnique1 {
                grid-area: technique1;
                @extend %defaultGridTechnique;
            }
            .gridTechnique2 {
                grid-area: technique2;
                @extend %defaultGridTechnique;
                border-left: 1px groove $backgroundLight;
                border-right: 1px groove $backgroundLight;
            } 
            .gridTechnique3 {
                grid-area: technique3;
                @extend %defaultGridTechnique;
            }             
        }
        .castElements {
            margin-bottom: 60px;
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "castElements castElements castElements castElements castElements castElements"
                "castElements1 castElements1 castElements2 castElements2 castElements3 castElements3"
                "castElements4 castElements4 castElements4 castElements5 castElements5 castElements5"
            ;
            .gridCastElements {
                grid-area: castElements;
                @extend %defaultGridProductsLight;
                margin-bottom: 10px;
                .colors {
                    @extend %defaultColorsArea;
                    .colorsDisplay {
                        @extend %defaulColorsDisplay;
                        .concrete {
                            @extend %defaultColorConcrete;
                        }
                        .yellow {
                            @extend %defaultColorYellow;
                        }
                        .green {
                            @extend %defaultColorGreen;
                        }
                        .red {
                            @extend %defaultColorRed;
                        }
                        .black {
                            @extend %defaultColorBlack;
                        } 
                    }   
                }
            }
            .gridCastElements1 {
                grid-area: castElements1;
                @extend %defaultGridProductsLight;
            }
            .gridCastElements2 {
                grid-area: castElements2;
                @extend %defaultGridProductsLight;
            }
            .gridCastElements3 {
                grid-area: castElements3;
                @extend %defaultGridProductsLight;
            } 
            .gridCastElements4 {
                grid-area: castElements4;
                @extend %defaultGridProductsLight;
            } 
            .gridCastElements5 {
                grid-area: castElements5;
                @extend %defaultGridProductsLight;
            }             
        }
        .client2 {
            margin-bottom: 60px;
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "client2 client2 client2"
                "client2_1 client2_2 client2_3"
                "client2_4 client2_5 client2_6"
                ;
            .gridClient2 {
                grid-area: client2;
                @extend %defaultGridProjectsLight;
            }
            .gridClient2_1 {
                grid-area: client2_1;
                @extend %defaultGridProjectsLight;
            }
            .gridClient2_2 {
                grid-area: client2_2;
                @extend %defaultGridProjectsLight;
            }  
            .gridClient2_3 {
                grid-area: client2_3;
                @extend %defaultGridProjectsLight;
            } 
            .gridClient2_4 {
                grid-area: client2_4;
                @extend %defaultGridProjectsLight;
            } 
            .gridClient2_5 {
                grid-area: client2_5;
                @extend %defaultGridProjectsLight;
            } 
            .gridClient2_6 {
                grid-area: client2_6;
                @extend %defaultGridProjectsLight;
            }           
        }
    }
    .defaultLight {
        @extend %defaultLight;
        .container {
            @extend %container;
            .privacyPolicy {
                margin-top: -20px;
                h2 {
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    font-size: 20px;
                    margin-top: 40px;
                }
                p {
                    font-style: italic;
                    font-size: 17px;
                    margin-bottom: 0px;
                    a {
                        text-decoration: none;
                        color: $colorTextDark;
                        &:hover {
                            text-decoration: underline;
                            color: $colorHover;
                        }
                    }
                }
                h4{
                    font-size: 15px;
                    text-align: end;
                    margin-top: 40px;
                }
            }
        }
        .quality {
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "quality quality quality quality"
                "quality1 quality2 quality3 quality4"
            ;
            .gridQuality {
                grid-area: quality;
                @extend %defaultGridQuality;
                margin-bottom: 10px;
            }
            .gridQuality1 {
                grid-area: quality1;
                @extend %defaultGridQuality;
                border-right: 1px groove $backgroundDark;
            }
            .gridQuality2 {
                grid-area: quality2;
                @extend %defaultGridQuality;
                border-right: 1px groove $backgroundDark;
            } 
            .gridQuality3 {
                grid-area: quality3;
                @extend %defaultGridQuality;
                border-right: 1px groove $backgroundDark;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: $colorHover;
                        text-shadow: 0px 0px 1px #000;
                    }
                }
            }           
            .gridQuality4 {
                grid-area: quality4;
                @extend %defaultGridQuality;
            }   
        }
        .depositions {
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "depositions depositions depositions depositions"
                "depositions1 depositions2 depositions3 depositions4"
            ;
            .gridDepositions {
                grid-area: depositions;
                @extend %defaultGridDepositions;
                margin-bottom: 35px;
            }
            .gridDepositions1 {
                grid-area: depositions1;
                @extend %defaultGridDepositions;
            }
            .gridDepositions2 {
                grid-area: depositions2;
                @extend %defaultGridDepositions;
            } 
            .gridDepositions3 {
                grid-area: depositions3;
                @extend %defaultGridDepositions;
            }           
            .gridDepositions4 {
                grid-area: depositions4;
                @extend %defaultGridDepositions;
            }  
            .gridDepositions1, .gridDepositions2, .gridDepositions3, .gridDepositions4 {
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                &:nth-child(even) {
                    justify-content: start;
                }
            } 
        }
        .slabs {
            margin-bottom: 60px;
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "slabs slabs"
                "slabs1 slabs2"
            ;
            .gridSlabs {
                grid-area: slabs;
                @extend %defaultGridProductsDark;
            }
            .gridSlabs1 {
                grid-area: slabs1;
                @extend %defaultGridProductsDark;
            }
            .gridSlabs2 {
                grid-area: slabs2;
                @extend %defaultGridProductsDark;
            }            
        }
        .client1 {
            margin-bottom: 60px;
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "client1 client1 client1"
                "client1_1 client1_2 client1_3"
                "client1_4 client1_5 client1_6"
                ;
            .gridClient1 {
                grid-area: client1;
                @extend %defaultGridProjectsDark;
            }
            .gridClient1_1 {
                grid-area: client1_1;
                @extend %defaultGridProjectsDark;
            }
            .gridClient1_2 {
                grid-area: client1_2;
                @extend %defaultGridProjectsDark;
            }  
            .gridClient1_3 {
                grid-area: client1_3;
                @extend %defaultGridProjectsDark;
            } 
            .gridClient1_4 {
                grid-area: client1_4;
                @extend %defaultGridProjectsDark;
            } 
            .gridClient1_5 {
                grid-area: client1_5;
                @extend %defaultGridProjectsDark;
            } 
            .gridClient1_6 {
                grid-area: client1_6;
                @extend %defaultGridProjectsDark;
            }           
        }
    }
    footer {
        @extend %base;
        flex-direction: column;
        background-color: #000;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 30px;
        address {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 5px;
            padding-bottom: 15px;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            border-bottom: 2px solid $backgroundDark;
            .companysAdress, .contact {
                ul {
                    color: #fff;
                    margin: 0px;
                    padding: 0px;
                    li {
                        list-style: none;
                        span {
                            font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                        a {
                            display: flex;
                            flex-direction: row;
                            text-decoration: none;
                            color: #fff;
                            align-items: center;
                            margin: 20px 0px;
                            &:hover {
                                color: $colorHover;
                                img {
                                    background-color: $colorHover;
                                }
                            }
                            img {
                                width: 40px;
                                border-radius: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        .ef {
            display: flex;
            flex-direction: column;
            align-items: center;
            .textFooter {
                display: flex;
                flex-direction: row;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                font-style: italic;
                span {
                    display: none;
                }
                a {
                    color: #1db03f;
                    text-decoration: none;
                    &:hover {
                        color: #06e1b8;
                        text-decoration: underline;
                    }
                }
            }
            ul {
                display: flex;
                flex-direction: row;
                margin-top: 5px;
                padding: 0px;
                li {
                    list-style: none;
                    img {
                        width: 30px;
                        border-radius: 20px;
                        background-color: #1db03f;
                        margin: 0px 10px;
                        &:hover {
                            background-color: #06e1b8 ;
                        }
                    }
                }
            }
         }
    }
}

/*Laptop e Tablet*/
@media (min-width: 960px) and (max-width: 1180px) {
    %defaultGridProductsDark, %defaultGridProjectsDark {   
        figure {
            img {
                height: 180px;
            }
        }
    }
    body {
        .defaultDark {
            .container {
                .aboutUsArea {
                    .aboutUsText {
                       width: 130%;
                    }
                }
            }
        }
    }
}

/*Tablet*/
@media (min-width: 760px) and (max-width: 960px) {
    %defaultGrid {
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 23px;
        }
    
    }
    %defaultGridTechnique {
        img {
            height: 100px;
        }
    }
    %defaultGridDepositions {
        
        q {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 23px;
        }
        p {
            font-size: 14px;
        }
    }
    %defaultGridProductsDark {  
        h3 {
            font-size: 16px;
        }
        figure {
            img {
                height: 200px;
            }
        }
    }
    %defaultGridProjectsDark {
        h2 {
            font-size: 25px;
        }
        figure {
            img {
                height: 205px;
            }
        }
    }
    %defaultColors {
        width: 23px;
        height: 23px;
    }
    body {
        header {
            .menu {
                nav {
                    .menuBar {
                        ul {
                            li {
                                font-size: 25px;
                                padding-left: 10px;
                                padding-right: 10px;
                                letter-spacing: 7px;
                                border-left: none; 
                            }
                        }
                    }      
                }
            }
        }
        .area {
            .sliders_op {
                .slider_op--show {
                    .slider_op--controls {
                        .slider_op--control {
                            font-size: 60px;  
                            padding: 0px;                         
                        }
                    }
                    .slider_op--width {
                        .slider_op--item {
                            h1 {
                                font-size: 40px;
                            }
                            h2 {
                                font-size: 25px;
                            }
                            h3 {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        } 
        .defaultDark {
            .container {
                .aboutUsArea {
                    .aboutUsText {
                       width: 180%;
                       P {
                        letter-spacing: 0px;
                        line-height: 35px;
                       }
                    }
                }
            }
            .castElements {
                grid-template-areas: 
                    "castElements castElements"
                    "castElements1 castElements2"
                    "castElements3 castElements4"
                    "castElements5 castElements5";
            }
            .client2 {
                grid-template-areas: 
                    "client2 client2"
                    "client2_1 client2_2"
                    "client2_3 client2_4"
                    "client2_5 client2_6"
                ;
            }
        } 
        .defaultLight {
            .quality {
                
                .gridQuality1 {
                    p {
                        margin-top: 0px;
                    }
                }
                .gridQuality2 {
                   P {
                    margin-top: 0px;
                   }
                } 
            }
            .depositions {
                .gridDepositions1, .gridDepositions2, .gridDepositions3, .gridDepositions4 {
                    height: 270px
                } 
            }
            .slabs {
                .gridSlabs1, .gridSlabs2 {
                    figure {
                        img {
                            height: 164px;
                        }
                    }
                }
            }
            .client1 {
                grid-template-areas: 
                    "client1 client1"
                    "client1_1 client1_2"
                    "client1_3 client1_4"
                    "client1_5 client1_6"
                ;
            }
        }
        footer {
            address {
                .companysAdress, .contact{
                    ul {
                        li {
                            font-size: 12px;
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .ef {
                .textFooter {
                    font-size: 12px;
                }
                ul {
                    li {
                        img {
                            width: 25px;
                        }
                    }
                }
                
            }
        }
    }
}

/*Celular Plus*/
@media (min-width: 390px) and (max-width: 760px) {
    %defaultGrid {
        h1 {
            margin-bottom: 0px;
        }
        h2 {
            margin-top: 30px;
        };
    }
    %defaultGridQuality {
        p {
            margin: 10px 0px;
        }
    }
    %defaultGridTechnique { 
       img {
           height: 150px;
       }
    }
    %defaultGridDepositions {
        q {
            margin-top: 10px;
        }
    }
    %defaultGridProductsDark {  
        h3 {
            font-size: 16px;
        }
        figure {
            img {
                height: 170px;
            }
        }
    }
    %defaultColors {
        width: 23px;
        height: 23px;
    }
    %defaultGridProjectsDark {  
        h2 {
            font-size: 20px;
        }
        figure {
            img {
                height: 170px;
            }
        }
    }
    body {
        header {
            .menu {
                nav {
                    .menuBar {
                        display: none;
                    } 
                    .menuMobile {
                        display: flex;
                        #display {
                            display: block;
                            //display: none;
                        }
                        #close {
                            display: none;
                            //display: block;
                        }
                    }     
                }
            }
        }
        .area {
            .sliders_op {
                .slider_op--show {
                    .slider_op--width {
                        .slider_op--item {
                            h3 {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }  
        .defaultDark {
            .container {
                .aboutUsArea { 
                    flex-direction: column;
                    .aboutUsText {
                        padding-right: 0px;
                        width: 100%;
                     }
                }
            }
            .technique {
                grid-template-areas: 
                    "technique"
                    "technique1"
                    "technique2"
                    "technique3"
                ;
                .gridTechnique2 {
                    border: none;
                }             
            }
            .castElements {
                grid-template-areas: 
                    "castElements castElements"
                    "castElements1 castElements2"
                    "castElements3 castElements4"
                    "castElements5 castElements5";
            }
            .client2 {
                grid-template-areas: 
                    "client2 client2"
                    "client2_1 client2_2"
                    "client2_3 client2_4"
                    "client2_5 client2_6"
                ;
            }
        }
        .defaultLight {
            .quality {
                grid-template-areas: 
                    "quality quality"
                    "quality1 quality2"
                    "quality3 quality4"
                ;
                .gridQuality2 {
                   border-right: none;
               }
            }
            .depositions {
                grid-template-areas: 
                "depositions depositions"
                "depositions1 depositions2"
                "depositions3 depositions4"
                ;
                .gridDepositions1, .gridDepositions2, .gridDepositions3, .gridDepositions4 {
                    height: 250px
                } 
            }
            .slabs {
                grid-template-areas: 
                    "slabs"
                    "slabs1"
                    "slabs2"
                ;
                .gridSlabs1, .gridSlabs2 {
                    figure {
                        img {
                            height: 230px;
                        }
                    }
                }
            }
            .client1 {
                grid-template-areas: 
                    "client1 client1"
                    "client1_1 client1_2"
                    "client1_3 client1_4"
                    "client1_5 client1_6"
                ;
            }
        }
        footer {
            address {
                .companysAdress, .contact{
                    ul {
                        li {
                            font-size: 12px;
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .ef {
                .textFooter {
                    font-size: 12px;
                }
                ul {
                    li {
                        img {
                            width: 25px;
                        }
                    }
                }
                
            }
        }
    }
}

/*Celular*/
@media (max-width: 390px) {
    %defaultGrid {
        border-right: none;
        h1 {
            margin-bottom: 0px;
        }
        h2 {
            margin-top: 30px;
        };
    }
    %defaultGridQuality {
        p {
            margin: 10px 0px;
        }
    }
    %defaultGridTechnique {    
        img {
            height: 120px;
        }
    }
     %defaultGridDepositions {
        q {
            margin-top: 15px;
        }
    }
    %defaultGridProductsDark {  
        h1 {
            font-size: 22px;
        }
        h2 {
            margin-top: 20px;
            margin-bottom: -10px;
            font-size: 20px;
        }
        h3 {
            margin-top: 35px;
            font-size: 16px;
        }
        figure {
            img {
                height: 170px;
            }
        }
    }
    %defaultColorsArea {
        flex-direction: column;
        h3 {
            margin:10px 0px;
        }
    }
    %defaultColors {
        width: 20px;
        height: 20px;
    }
    %defaultGridProjectsDark {  
        h1 {
            font-size: 22px;
        }
        h2 {
            margin-top: 35px;
            font-size: 16px;
        }
        figure {
            img {
                height: 170px;
            }
        }
    }
    body {
        header {
            .menu {
                nav {
                    .menuBar {
                        display: none;
                    } 
                    .menuMobile {
                        display: flex;
                        #display {
                            display: block;
                            //display: none;
                        }
                        #close {
                            display: none;
                            //display: block;
                        }
                    }     
                }
            }
        }
        .area {
            .sliders_op {
                .slider_op--show {
                    .slider_op--controls {
                        .slider_op--control {
                            font-size: 35px;  
                            padding: 0px;                         
                        }
                    }
                    .slider_op--width {
                        .slider_op--item {
                            h1 {
                                font-size: 35px;
                            }
                            h2 {
                                font-size: 20px;
                            }
                            h3 {
                                font-size: 20px;
                                letter-spacing: 3px;
                                line-height: 31px;
                            }
                        }
                    }
                }
            }
        } 
        .defaultDark {
            .container {
                .aboutUsArea { 
                    flex-direction: column;
                    .aboutUsText {
                        padding-right: 0px;
                        width: 100%;
                        P {
                            letter-spacing: 2px;
                        }
                     }
                }
            }
            .technique {
                grid-template-areas: 
                    "technique"
                    "technique1"
                    "technique2"
                    "technique3"
                ;
                .gridTechnique2 {
                    border: none;
                }             
            }
            .castElements {
                grid-template-areas: 
                    "castElements"
                    "castElements1"
                    "castElements2"
                    "castElements3"
                    "castElements4"
                    "castElements5"
                ;
            }
            .client2 {
                grid-template-areas: 
                    "client2"
                    "client2_1"
                    "client2_2"
                    "client2_3"
                    "client2_4"
                    "client2_5"
                    "client2_6"
                ;
            }
        }
        .defaultLight {
            .container {
                h1 {
                    span {
                        font-size: 30px;
                    }
                }
                .privacyPolicy {
                    h2 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 15px;
                        margin-top: 10px;
                        line-height: 20px;
                    }
                    h4 {
                        font-size: 12px
                    }
                }
            }
            .quality {
                grid-template-areas: 
                    "quality"
                    "quality1"
                    "quality2"
                    "quality3"
                    "quality4"
                ;
            }
            .depositions {
                grid-template-areas: 
                "depositions"
                "depositions1"
                "depositions2"
                "depositions3"
                "depositions4"
                ;
                .gridDepositions1, .gridDepositions2, .gridDepositions3, .gridDepositions4 {
                    height: 100%
                } 
            }
            .slabs {
                grid-template-areas: 
                    "slabs"
                    "slabs1"
                    "slabs2"
                ;
                .gridSlabs1, .gridSlabs2 {
                    figure {
                        img {
                            height: 135px;
                        }
                    }
                }
            }
            .client1 {
                grid-template-areas: 
                    "client1"
                    "client1_1"
                    "client1_2"
                    "client1_3"
                    "client1_4"
                    "client1_5"
                    "client1_6"
                ;
            }
        }
        footer {
            address {
                flex-direction: column;
                align-items: start;
                .companysAdress, .contact{
                    ul {
                        li {
                            font-size: 12px;
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .ef {
                .textFooter {
                    font-size: 12px;
                }
                ul {
                    li {
                        img {
                            width: 25px;
                        }
                    }
                }
                
            }
        }
    }
}