@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;600;700&display=swap');
$title: 'Teko', 'Arial', sans-serif;
$colorTextDark: #2e5075;
$colorTextLight: #e3e3e3;
$colorHover: #92a3bd;
$backgroundDark: #242424;
$backgroundLight: #f7f7f7;
%base {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
%fontSliders {
    position: relative;
    z-index: 98;
}
%defaultDark {
    @extend %base;
    background-color: $backgroundDark;
    color: $colorTextLight
}
%defaultLight{
    @extend %base;
    background-color: $backgroundLight;
    color: #000;
}
%container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {
        margin: 0px;
        font-family: $title;
        font-size: 45px;
        text-transform: uppercase;
    }
}
%defaultGridQuality {
    padding: 0px 20px;
    height: 100%;
    h1 {
        margin-bottom: -10px;
    }
    h2 {
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: 20px;
    }
    p {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
    }

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    header {
        @extend %base;
        height: 60px;
        background-color: #000;
        .menu {
            width: 90%;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;            
            img {
                width: 55px;
                margin-left: 5px;
            }
            nav {
               .menuBar {
                   ul {
                       display: flex;
                       li {
                            list-style: none;
                            margin-right: 5px;
                            text-transform: uppercase;
                            font-family: $title;
                            font-size: 35px;
                            padding-left: 30px;
                            padding-right: 30px;
                            letter-spacing: 10px;
                            border-left: 1px groove $backgroundLight;
                            &:first-child{
                                border-left: none;
                            }
                            a {
                                color: $colorTextLight;   
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                    color: $colorHover;
                                }
                            }  
                            .active {
                                color: $colorHover;
                                font-weight: 600;
                            }  
                        }
                   }
               } 
               .menuMobile {
                    display: none;
                    flex-direction: column;
                    align-items: end;
                    .imgMobile {
                        position: absolute;
                        top: 5px;
                        img {
                            width: 50px;
                            padding-right: 0px;
                            padding-left: 5px;
                        } 
                        h1 {
                            color: $colorTextLight;
                            margin: 5px;
                            font-size: 35px;
                        } 
                    }
                    .linksMobile {
                       display: none;
                       position: absolute;
                       top: 60px;
                       left: 0px;
                       width: 100%;
                       background-color: rgba(0, 0, 0, 0.7);
                       ul {
                        text-align: center;
                           li {
                                list-style: none;
                                margin-right: 5px;
                                text-transform: uppercase;
                                font-family: $title;
                                font-size: 35px;
                                letter-spacing: 10px;
                                a {
                                    color: $colorTextLight;   
                                    text-decoration: none;
                                }  
                                .active {
                                    color: $colorHover;
                                    font-weight: 600;
                                } 
                           }
                       }
                    } 
                }
                
            }
        }
    }
    
    .banner {
        height: calc(100vh - 180px);
        background-color: #333;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
    }  
    .area {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        .sliders_op {
            height: 100%; 
            text-align: center;
            .slider_op--show {
                width: 100%;
                height: calc(100vh - 180px);
                position: absolute;
                overflow: hidden;
                .slider_op--controls {
                    background-color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    z-index: 98;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                    .slider_op--control {
                        color:  $colorTextLight;
                        font-size: 80px;
                        padding: 0px 20px;
                        overflow: hidden;
                        cursor: pointer;
                        &:hover {
                            color: $colorHover;
                            text-shadow: 0px 0px 4px #000;
                        }
                    }
                }
                .slider_op--width {
                    display: flex;
                    transition: all ease 0.2s;
                    .slider_op--item {
                        width: 100vw;
                        height: calc(100vh - 180px);
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: $backgroundLight;
                        text-shadow: 0px 1px 1px #222;
                        h1 {
                            @extend %fontSliders;
                            font-family: $title;
                            font-size: 45px;
                        }
                        h2 {
                            @extend %fontSliders;
                            font-size: 30px;
                            font-weight: normal;
                            margin-top: 0px;
                            margin-bottom: 10px;
                            padding-top: 0px;
                            padding-bottom: 0px;
                            span {
                                text-transform: uppercase;
                                font-weight: 600;
                            }
                            a {
                                color: $colorTextLight;
                                text-decoration: none;
                                &:hover{
                                    color: $colorHover;
                                    text-decoration: underline;
                                }
                            }
                        }
                        h3 {
                            @extend %fontSliders;
                            font-size: 23px;
                            font-weight: normal;
                            font-style: italic;
                            width: 80%;
                            letter-spacing: 2px;
                            line-height: 60px;
                            margin-left: 0px;
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }  
    .defaultDark {
        @extend %defaultDark;
        .container {
            @extend %container;
            .aboutUsArea {
                display: flex;    
                align-items: center;
                .aboutUsText {
                   padding-right: 20px;
                   width: 100%;
                    p {
                        font-size: 18px;
                        letter-spacing: 1px;
                        line-height: 40px;
                        text-align: justify;
                    }
                }
                .aboutUsImg {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .defaultLight {
        @extend %defaultLight;
        .container {
            @extend %container;
        }
        .quality {
            display: grid;
            text-align: center;
            align-items: flex-start;
            grid-template-areas: 
                "quality quality quality quality"
                "quality1 quality2 quality3 quality4"
            ;
            .gridQuality {
                grid-area: quality;
                @extend %defaultGridQuality;
                margin-bottom: 10px;
            }
            .gridQuality1 {
                grid-area: quality1;
                @extend %defaultGridQuality;
                border-right: 1px groove $backgroundDark;
            }
            .gridQuality2 {
                grid-area: quality2;
                @extend %defaultGridQuality;
                border-right: 1px groove $backgroundDark;
            } 
            .gridQuality3 {
                grid-area: quality3;
                @extend %defaultGridQuality;
                border-right: 1px groove $backgroundDark;
            }           
            .gridQuality4 {
                grid-area: quality4;
                @extend %defaultGridQuality;
            }   
        }
    }
}


/*Laptop e Tablet*/
@media (min-width: 960px) and (max-width: 1180px) {
    body {
        .defaultDark {
            .container {
                .aboutUsArea {
                    .aboutUsText {
                       width: 130%;
                    }
                    /*.aboutUsImg {
                        img {
                            width: 100%;
                        }
                    }*/
                }
            }
        }
    }
}

/*Tablet*/
@media (min-width: 760px) and (max-width: 960px) {
    %defaultGridQuality {
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 23px;
        }
    
    }
    body {
        header {
            .menu {
                nav {
                    .menuBar {
                        ul {
                            li {
                                font-size: 25px;
                                padding-left: 10px;
                                padding-right: 10px;
                                letter-spacing: 7px;
                                border-left: none; 
                            }
                        }
                    }      
                }
            }
    
        }
        .area {
            .sliders_op {
                .slider_op--show {
                    .slider_op--controls {
                        .slider_op--control {
                            font-size: 60px;  
                            padding: 0px;                         
                        }
                    }
                    .slider_op--width {
                        .slider_op--item {
                            h1 {
                                font-size: 40px;
                            }
                            h2 {
                                font-size: 25px;
                            }
                            h3 {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        } 
        .defaultDark {
            .container {
                .aboutUsArea {
                    .aboutUsText {
                       width: 180%;
                       P {
                        letter-spacing: 0px;
                        line-height: 35px;
                       }
                    }
                    /*.aboutUsImg {
                        img {
                            width: 100%;
                        }
                    }*/
                }
            }
        } 
        .defaultLight {
            .quality {
                
                .gridQuality1 {
                    p {
                        margin-top: 0px;
                    }
                }
                .gridQuality2 {
                   P {
                    margin-top: 0px;
                   }
                } 
            }
        }
    }
}

/*Celular Plus*/
@media (min-width: 390px) and (max-width: 760px) {
    body {
        header {
            .menu {
                nav {
                    .menuBar {
                        display: none;
                    } 
                    .menuMobile {
                        display: flex;
                        #display {
                            display: block;
                            //display: none;
                        }
                        #close {
                            display: none;
                            //display: block;
                        }
                    }     
                }
            }
    
        }
        .area {
            .sliders_op {
                .slider_op--show {
                    .slider_op--width {
                        .slider_op--item {
                            h3 {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }  
        .defaultDark {
            .container {
                .aboutUsArea { 
                    flex-direction: column;
                    .aboutUsText {
                        padding-right: 0px;
                        width: 100%;
                     }
                }
            }
        }
        .defaultLight {
            .quality {
                grid-template-areas: 
                    "quality quality"
                    "quality1 quality2"
                    "quality3 quality4"
                ;
                .gridQuality2 {
                    border-right: none;
                }
            }
        }
    }
}

/*Celular*/
@media (max-width: 390px) {
    %defaultGridQuality {
        border-right: none;
    }
    body {
        header {
            .menu {
                nav {
                    .menuBar {
                        display: none;
                    } 
                    .menuMobile {
                        display: flex;
                        #display {
                            display: block;
                            //display: none;
                        }
                        #close {
                            display: none;
                            //display: block;
                        }
                    }     
                }
            }
    
        }
        .area {
            .sliders_op {
                .slider_op--show {
                    .slider_op--controls {
                        .slider_op--control {
                            font-size: 35px;  
                            padding: 0px;                         
                        }
                    }
                    .slider_op--width {
                        .slider_op--item {
                            h1 {
                                font-size: 35px;
                            }
                            h2 {
                                font-size: 20px;
                            }
                            h3 {
                                font-size: 20px;
                                letter-spacing: 3px;
                                line-height: 31px;
                            }
                        }
                    }
                }
            }
        } 
        .defaultDark {
            .container {
                .aboutUsArea { 
                    flex-direction: column;
                    .aboutUsText {
                        padding-right: 0px;
                        width: 100%;
                        P {
                            letter-spacing: 2px;
                        }
                     }
                }
            }
        }
        .defaultLight {
            .quality {
                grid-template-areas: 
                    "quality"
                    "quality1"
                    "quality2"
                    "quality3"
                    "quality4"
                ;
            }
        }
    }
}